@use  '../../../assets/styles/abstract' as a;

.text-input {
  display: grid;
  gap: 0.5rem;
  position: relative;

  &__field {
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 0.9rem;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 0.9375rem;
    outline: none !important;
  }
  
  &__status {
    position: absolute;
    top: 50%;
    right: 7.25rem;
    font-size: 0.9375rem;
    color: red;
    transform: translate(0, -50%);
  }
}