// Colors

// Light Mode

$clr-light-blue-500: #0079FF;

$clr-light-desaturated-blue-300: #697C9A;
$clr-light-desaturated-blue-500: #4B6A9B;
$clr-light-desaturated-blue-900: #2B3442;

$clr-light-grey-500: #F6F8FF;
$clr-light-white-500: #FEFEFE;
$clr-light-black-500: #222731;


// Dark Mode

$clr-dark-blue-500: #0079FF;

$clr-dark-desaturated-blue-800: #1E2A47;
$clr-dark-desaturated-blue-900: #141D2F;

$clr-dark-white-500: #FFFFFF;
